# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.Python
2.SQL
3.R
4.Julia
5.Java
6.JavaScript

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.NumPy
3.Matplotlib
4.Seaborn
5.SciKit-Learn
6.Keras
7.TensorFlow
8.PyTorch
9.Apache Spark

|Data Science Tools|
|---|
|Tableau|
|TensorFlow|
|Python|
|Jupyter Notebook|
|SAS|
|Excel|
|Apache Spark|
|Apache Hadoop|
|MATLAB|

Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List popular languages of Data Science
* List popular libraries of Data Science
* List popular Data Science Libraries
* Create a Jupyter Notebook with markdown and code cells

# Author
Kaviti Tanuja